<ol>
  <li><a href="/examples/image-slideshow-captions">Image slideshow with captions</a></li>
  <li><a href="/examples/auto-show-start-stop-controls">Auto show with start / stop controls</a></li>
  <li><a href="/examples/manual-show-without-infinite-loop">Manual show without infinite loop</a></li>
  <li><a href="/examples/slideshow-adaptive-height">Slideshow using adaptiveHeight</a></li>
  <li><a href="/examples/carousel-static-number-slides">Carousel - static number of slides showing</a></li>
  <li><a href="/examples/carousel-dynamic-number-slides">Carousel - dynamic number of slides showing</a></li>
  <li><a href="/examples/thumbnail-pager-1">Thumbnail pager - method 1</a></li>
  <li><a href="/examples/thumbnail-pager-2">Thumbnail pager - method 2</a></li>
  <li><a href="/examples/vertical-slideshow">Vertical slideshow</a></li>
  <li><a href="/examples/custom-next-prev-selectors">Custom next / prev control selectors</a></li>
  <li><a href="/examples/multiple-slideshows">Multiple slideshows</a></li>
  <li><a href="/examples/callback-api">Callback API</a></li>
  <li><a href="/examples/public-methods">Public methods</a></li>
  <li><a href="/examples/video">Responsive video</a></li>
  <li><a href="/examples/ticker">Ticker mode</a></li>
  <li><a href="/examples/easing">Custom easing</a></li>
</ol>
