<div class="clearfix">
<div class="left first">
  <p>Designed and built by:</p>
  <h4>Steven Wanderski - <a href="http://stevenwanderski.com" target="_blank">Chicago web developer</a></h4>
</div>

<div class="left">
  <p>Founder and CEO:</p>
  <h4><span class="icon-icomoon-bx-star"></span> bxCreative - <a href="http://bxcreative.com" target="_blank">Chicago web development</a></h4>
</div>
</div>

<p class="pix">All photography shot in Switzerland by Elizabeth Hackett - <a href="http://dollybirdpix.com" target="_blank">DollyBird Pix</a></p>