<div class="logo">
  <a href="/"><span class="icon-icomoon-bx-star"></span> bxSlider</a>
</div>

<nav>
  <a href="/" <%= 'class="active"' if @title == 'Home' %>>Home</a>
  <a href="/examples">Examples</a>
  <a href="/options">Options</a>
  <a href="/faqs">FAQs</a>
</nav>

<div class="download">
  <a class="btn" href="/lib/jquery.bxslider.zip"><span class="icon-fontello-down"></span> Download</a>
</div>