<div class="logo">
  <a href="/"><span class="icon-icomoon-bx-star"></span> bxSlider</a>
</div>

<nav>
  <a href="/" <%= 'class="active"' if @front %>>Home</a>
  <a href="/examples" <%= 'class="active"' if @title == 'Examples' %>>Examples</a>
  <a href="/options" <%= 'class="active"' if @title == 'Options' %>>Options</a>
  <a href="/faqs" <%= 'class="active"' if @title == 'FAQs' %>>FAQs</a>
</nav>

<div class="download">
  <a class="btn" href="/lib/jquery.bxslider.zip"><span class="icon-fontello-down"></span> Download</a>
</div>