<div class="logo">
  <a href="/"><span class="icon-icomoon-bx-star"></span> bxSlider</a>
</div>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/examples">Examples</a></li>
    <li><a href="/options">Options</a></li>
    <li><a href="/faqs">FAQs</a></li>
  </ul>
  <div class="download"><a class="btn" href="/lib/jquery.bxslider.zip"><span class="icon-fontello-down"></span> Download</a></div>
</nav>