<h1>The Responsive jQuery Content Slider</h1>
<ul class="bxslider">
  <li><img src="/images/picto.png" /></li>
  <li><img src="/images/hills_large.jpg" /></li>
</ul>
<p class="pop"><span class="icon-fontello-resize-full"></span> Resize your browser to see the slider adapt</p>


<!-- <div class="pictogram clearfix">
  <div class="icon-icomoon-desktop"></div>
  <div class="operator">+</div>
  <div class="icon-icomoon-tablet"></div>
  <div class="operator">+</div>
  <div class="icon-icomoon-phone"></div>
  <div class="operator">=</div>
  <div class="icon-fontello-thumbs-up"></div>
</div> -->
