<h1>The Responsive jQuery Content Slider</h1>
<ul class="bxslider">
  <li><img src="/images/home_slides/picto.png" /></li>
  <li><img src="/images/home_slides/houses.jpg" /></li>
  <li><img src="/images/home_slides/hillside.jpg" /></li>
</ul>
<p class="pop"><span class="icon-fontello-resize-full"></span> Resize your browser to see the slider adapt</p>
