<h1>The Responsive jQuery Content Slider</h1>
<div class="pictogram clearfix">
  <div class="icon-icomoon-desktop"></div>
  <div class="operator">+</div>
  <div class="icon-icomoon-tablet"></div>
  <div class="operator">+</div>
  <div class="icon-icomoon-phone"></div>
  <div class="operator">=</div>
  <div class="icon-fontello-thumbs-up"></div>
</div>
