<h1>Building the bxSlider</h1>
<p class="intro">This is a small section that describes the construction of the plugin, different tools used in the process, how this website was made, and what kind of beers I like.</p>

<h3>Annoted source</h3>

<p>First off - <a href="/docs/jquery.bxslider.html" target="_blank">view a complete annoted source here</a>. For learning purposes, I have included comments on almost every line. Hope you enjoy!</p>

<h3>Slider building</h3>

<p>Many tools and resources have gone into the coding of bxSlider v4.0. Obviously, Google is about as priceless a tool as you can have. However, good ol' fashioned pencil-and-paper scribblings helped formulate the math logic behind the slider functionality. See below for a window into my madness:</p>

<p>IMAGES HERE</p>

<p>On the digital side of things: FIREBUG. Where would we be without this amazing tool? Dynamic DOM inspection done right. If you have not heard of Firebug, save yourself a million headaches and grab it (<a href="http://getfirebug.com" target="_blank">http://getfirebug.com</a>).</p>

<p>Since this slider is completely responsive, I needed to use multiple mobile devices for testing. At my physical disposal I have an iTouch, an iPhone 3, an iPad4 and a Droid2. This got me through a lot of testing, but then I discovered the iOS Simulator provided by Apple's XCode SDK. It simulates an iPhone and iPad directly on your desktop. A note: this thing is not simply an "emulator". It actually contains the same programming used in the actual devices. So its 100% accurate. Very cool and very convenient.</p>

<p>Another great testing tool I use is VirtualBox with a Windows 7 install. Since I work exclusively on OS X, I need a way to test IE (sigh). I followed <a href="http://samvermette.com/256" target="_blank">this great tutorial</a> which describes a free, legal way to install Windows / IE in VirtualBox.</p>

<p>Finally, I have included two plugins in the bxSlider package. Shout outs to the following:</p>
<ul>
  <li><strong>jQuery Easing</strong>: been including this one for a long time. Allows tons of different easing animation types. Thanks to George Smith for his plugin: <a href="http://gsgd.co.uk/sandbox/jquery/easing/">http://gsgd.co.uk/sandbox/jquery/easing/</a></li>
  <li><strong>fitVids</strong>: makes videos responsive. Thanks to Chris Coyier and Paravel for the plugin: <a href="http://fitvidsjs.com/">http://fitvidsjs.com/</a></li>
</ul>

<h3>Site building</h3>

<p>Regarding the building of this website, many exciting things have contributed to the process. Namely: Sinatra. The more I use Ruby and its frameworks (Sinatra, Rails), the more I love it. It truly makes web development fun and efficient. I know, I know - Ruby is all the rage these days. But give it a try!</p>

<p>The following tools have contributed to the building of this site (along with most other sites I build):</p>
<ul>
  <li><strong>Textmate</strong> (<a href="http://macromates.com/" target="_blank">http://macromates.com/</a>) - the best text editor PERIOD</li>
  <li><strong>Firebug</strong> (<a href="http://getfirebug.com" target="_blank">http://getfirebug.com</a>) - DOM inspection done right</li>
  <li><strong>Transmit</strong> (<a href="http://panic.com/transmit/" target="_blank">http://panic.com/transmit/</a>) - gorgeous and fast FTP client</li>
  <li><strong>Github</strong> (<a href="http://github.com" target="_blank">http://github.com</a>) - social coding and project hosting</li>
  <li><strong>Rainbow</strong> (<a href="http://craig.is/making/rainbows/" target="_blank">http://craig.is/making/rainbows/</a>) - JS syntax highlighter</li>
  <li><strong>Fontello</strong> (<a href="http://fontello.com" target="_blank">http://fontello.com</a>) - awesome font icon tool</li>
  <li><strong>icoMoon</strong> (<a href="http://icomoon.com" target="_blank">http://icomoon.com</a>) - awesome font icon tool</li>
</ul>

<h3>Nectar of the gods</h3>

<p>Not to forget one of the most important aspects of web development and coding: delicious Belgian ales. Shout outs to La Trappe, Maredsous, Westmalle, Tripel Karmeliet, and Leffe (just to name a few). Salute!</p>