<h1>Examples</h1>
<p class="intro">Learn by example! Find below a smattering of examples demonstrating many different features and modes of bxSlider. The slider is packed full of <a href="/options">options</a>, so let’s get on with it!</p>

<ol>
  <li><a href="/examples/image-slideshow-captions">Image slideshow with captions</a></li>
  <li><a href="/examples/auto-show-start-stop-controls">Auto show with start / stop controls</a></li>
  <li><a href="/examples/manual-show-without-infinite-loop">Manual show without infinite loop</a></li>
  <li><a href="/examples/slideshow-adaptive-height">Slideshow using adaptiveHeight</a></li>
</ol>
