<h1>Examples</h1>
<p class="intro">Learn by example! Find below a smattering of examples demonstrating many different features and modes of bxSlider. The slider is packed full of <a href="/options">options</a>, so let’s get on with it!</p>

<div class="examples-list">
  <%= erb(:"partials/examples_list", :layout => false) %>
</div>