<section class="primary">
  
  <div class="slider">
    <!-- sample slider here -->
    <p class="pop"><span class="icon-fontello-resize-full"></span> Resize your browser to see the slider adapt</p>
  </div>
  
  <h2>How to install</h2>
  
  <div class="step">
    <h3>Step 1: Link required files</h3>
    <p>First and most important, the jQuery library needs to be included (no need to download - link directly from Google). Next, the bxSlider CSS file (for the theme) and the bxSlider Javascript file must be linked.</p>
    <code>Some code here</code>
  </div>
  
  <div class="step">
    <h3>Step 2: Create HTML markup</h3>
    <p>Create a &lt;ul class="bxslider"&gt; element, with a &lt;li&gt; for each slide. Slides can contain images, video, or any other HTML content!</p>
    <code>Some code here</code>
  </div>
  
  <div class="step">
    <h3>Step 3: Call the bxSlider</h3>
    <p>Call .bxslider() on &lt;ul class="bxslider"&gt;</p>
    <code>Some code here</code>
  </div>
  
</section>