<h1>The Responsive jQuery Content Slider</h1>
<div class="pictogram">
  <div class="icon-icomoon-desktop"></div>
  <div class="operator">+</div>
  <div class="icon-icomoon-tablet"></div>
  <div class="operator">+</div>
  <div class="icon-icomoon-phone"></div>
  <div class="operator">=</div>
  <div class="icon-fontello-thumbs-up"></div>
</div>

<section class="primary">
  
  <div class="slider">
    <!-- sample slider here -->
    <p class="pop"><span class="icon-fontello-resize-full"></span> Resize your browser to see the slider adapt</p>
  </div>
  
  <h2>How to install</h2>
  
  <h3>Step 1: Link required files</h3>
  <p>First and most important, the jQuery library needs to be included (no need to download - link directly from Google). Next, the bxSlider CSS file (for the theme) and the bxSlider Javascript file must be linked.</p>
  <code>Some code here</code>
  
  <h3>Step 2: Create HTML markup</h3>
  <p>Create a &lt;ul class="bxslider"&gt; element, with a &lt;li&gt; for each slide. Slides can contain images, video, or any other HTML content!</p>
  <code>Some code here</code>
  
  <h3>Step 2: Call the bxSlider</h3>
  <p>Call .bxslider() on &lt;ul class="bxslider"&gt;</p>
  <code>Some code here</code>
  
  
</section>

<aside>
  
  <div class="advert">advert here</div>
  
  <div class="buttons">
    <a href="" class="btn"><span class="icon-icomoon-beer"></span> Buy me a beer</a>
    <a href="https://github.com/wandoledzep/bxslider-4" target="_blank" class="btn"><span class="icon-icomoon-github"></span> View on Github</a>
  </div>
  
  <h4>Wondering how bxSlider was made?</h4>
  <p><a href="/about">Click here to see the annotated source code with a description of the coding process</a></p>
  
</aside>