<!DOCTYPE html>
<head>
  <title><%= @title %> | Responsive jQuery Slider | bxSlider</title>
	<link rel="stylesheet" href="/lib/jquery.bxslider.css" type="text/css" />
	<link rel="stylesheet" href="/css/styles.css" type="text/css" />
	
	<script src="/js/jquery.min.js"></script>
	<script src="/lib/jquery.bxslider.min.js"></script>
	<script src="/js/scripts.js"></script>
</head>

<body>
	
	<header><div class="inner clearfix"><%= erb(:"partials/header", :layout => false) %></div></header>
	
	<section id="main"><%= yield %></section>

	<footer><div class="inner clearfix"><%= erb(:"partials/footer", :layout => false) %></div></footer>

</body>

</html>