<%
@example = Hash.new

@example['title'] = 'Custom easing'

@example['js'] = "
$('.bxslider').bxSlider({
  mode: 'horizontal',
  useCSS: false,
  infiniteLoop: false,
  hideControlOnEnd: true,
  easing: 'easeOutElastic',
  speed: 2000
});"

@example['html'] = '

<!-- <script src="/js/plugins/jquery.easing.1.3.js"></script> must be included in the <head>
after the jQuery library, and before the jquery.bxslider.js file. See the source code
of this page for an example. -->

<ul class="bxslider">
  <li><img src="/images/730_200/hill_trees.jpg" /></li>
  <li><img src="/images/730_200/me_trees.jpg" /></li>
  <li><img src="/images/730_200/houses.jpg" /></li>
  <li><img src="/images/730_200/tree_root.jpg" /></li>
  <li><img src="/images/730_200/hill_fence.jpg" /></li>
  <li><img src="/images/730_200/trees.jpg" /></li>
  
</ul>'

head = h '<head>
  <!-- other stuff here -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="/js/plugins/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.bxslider.js"></script>
</head>'

@example['note'] = "Note that in order to use the special easing functions provided by the jquery.easing plugin, 'useCSS' must be set to false (<code>useCSS: false</code>). The file jquery.easing.1.3.js (found in the plugins folder) must be called AFTER the jQuery library, and BEFORE the jquery.bxslider.js file. An example <code>&lt;head&gt;</code> could look like the following:
<pre><code data-language=\"html\">#{head}</code></pre>"

@easing = true;

%>

<%= erb(:"partials/example_item", :layout => false, :locals => { :example => @example }) %>
