<%
@example = Hash.new

@example['title'] = 'Public methods'

@example['js'] = "
var slider = $('.bxslider').bxSlider({
  mode: 'fade'
});

$('#slider-next').click(function(){
  slider.goToNextSlide();
  return false;
});

$('#slider-count').click(function(){
  var count = slider.getSlideCount();
  alert('Slide count: ' + count);
  return false;
});"

@example['html'] = '
<ul class="bxslider">
  <li><img src="/images/730_200/tree_root.jpg" /></li>
  <li><img src="/images/730_200/hill_fence.jpg" /></li>
  <li><img src="/images/730_200/houses.jpg" /></li>
</ul>

<div><a href="" id="slider-next">Click me to go to the next slide</a></div>
<div><a href="" id="slider-count">Click me to see the total slide count</a></div>

'

@example['note'] = 'Note that the .bxSlider() call must be assigned to a variable (var slider in this example) to call any public methods.'
%>

<%= erb(:"partials/example_item", :layout => false, :locals => { :example => @example }) %>