<%
@example = Hash.new

@example['title'] = 'Slidehow using adaptiveHeight'

@example['js'] = "
$('.bxslider').bxSlider({
  adaptiveHeight: true,
  mode: 'fade'
});"

@example['html'] = '
<ul class="bxslider">
  <li><img src="/images/730_200/hill_fence.jpg" /></li>
  <li><img src="/images/730_100/tree_root.jpg" /></li>
  <li><img src="/images/730_150/me_trees.jpg" /></li>
</ul>'

%>

<%= erb(:"partials/example_item", :layout => false, :locals => { :example => @example }) %>