<%
@example = Hash.new

@example['title'] = 'Slidehow using adaptiveHeight'

@example['js'] = "
$('.bxslider').bxSlider({
  adaptiveHeight: true
});"

@example['html'] = '
<ul class="bxslider">
  <li><img src="/images/hills.jpg" /></li>
  <li><img src="/images/trees.jpg" /></li>
  <li><img src="/images/trees2.jpg" /></li>
</ul>'

%>

<%= erb(:"partials/example_item", :layout => false, :locals => { :example => @example }) %>